---
type Props = astroHTML.JSX.InputHTMLAttributes & {
  id: string;
  options: Array<{
    title: string;
    value: string;
    description?: string;
  }>;
};

const { options, id, ...inputProps } = Astro.props;
---

<div class="group relative z-0 mt-2 mb-5 w-full">
  {
    options.map(({ title, value, description }) => (
      <div class="mb-4 flex items-center">
        <input
          {...inputProps}
          id={`${id}-${value}`}
          name={id}
          value={value}
          type="radio"
          class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
        />
        <div class="ms-2 text-sm">
          <label
            for={`${id}-${value}`}
            class="font-medium text-gray-900 dark:text-gray-300"
          >
            {title}
            {description && (
              <p
                id="helper-radio-text"
                class="text-xs font-normal text-gray-500 dark:text-gray-300"
              >
                {description}
              </p>
            )}
          </label>
        </div>
      </div>
    ))
  }
</div>
