---
import { getCollection } from "astro:content";
import Container from "@/layouts/Container.astro";
import { RichText } from "@/components/RichText";
import { formatDate, formatISO } from "date-fns";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { convert } from "html-to-text";
import LDJson from "@/components/LDJson.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import { IoChevronForward } from "react-icons/io5";

export async function getStaticPaths() {
  const pages = await getCollection("news");
  return pages.map((article) => ({
    params: { id: article.id },
    props: {
      article,
      description: convert(documentToHtmlString(article.data.summary)),
    },
  }));
}

const { article, description } = Astro.props;
---

<Container title={article.data.title} description={description}>
  <LDJson
    content={{
      "@type": "NewsArticle",
      headline: article.data.title,
      datePublished: formatISO(article.data.when),
    }}
    slot="ldjson"
  />

  <div
    class="text-h4 [&_ol]:flex [&_ol]:items-center [&_ol]:gap-2 [&_ol>li]:flex [&_ol>li]:items-center [&_ol>li]:gap-2 mb-4"
    slot="breadcrumbs"
  >
    <Breadcrumbs
      linkTextFormat="capitalized"
      customizeListElements={[
        { index: 0, remove: true },
        { index: 2, remove: true },
      ]}
      customizeLinks={[
        { index: 1, href: "/news/1" },
        ,
        { index: "last", text: article.data.title },
      ]}
      mainBemClass="breadcrumbs"
    >
      <IoChevronForward slot="separator" />
    </Breadcrumbs>
  </div>

  <div slot="main">
    <h2>{article.data.title}</h2>
    <p class="text-gray-500 text-sm pb-4">
      Published on {formatDate(article.data.when, "PPPP")}
    </p>
  </div>
  <RichText
    page={`news/article/${article.id}`}
    document={article.data.content}
  />
</Container>
