---
import type { GetStaticPathsOptions, GetStaticPathsResult } from "astro";
import { getCollection } from "astro:content";
import Container from "@/layouts/Container.astro";
import { RichText } from "@/components/RichText";
import LDJson from "@/components/LDJson.astro";
import dbsChecked from "@/components/dbs.png";
import { Picture } from "astro:assets";
import { Breadcrumbs } from "astro-breadcrumbs";
import { IoChevronForward } from "react-icons/io5";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const people = await getCollection("person");

  return people.map((person) => ({
    params: { slug: person.data.slug },
    props: { person },
  })) satisfies GetStaticPathsResult;
}

const {
  person: { data: person },
} = Astro.props;
const { pathname } = Astro.url;
const pageData = Object.entries(person.pageData);
---

<LDJson
  slot="ldjson"
  content={{
    "@type": "Person",
    name: person.name,
    image: person.photo?.url,
  }}
/>

<Container title={person.name}>
  <div
    slot="breadcrumbs"
    class="text-h6 [&_ol]:flex [&_ol]:items-center [&_ol]:gap-2 [&_ol>li]:flex [&_ol>li]:items-center [&_ol>li]:gap-2 mb-4"
  >
    <Breadcrumbs
      linkTextFormat="capitalized"
      customizeListElements={[{ index: 0, remove: true }]}
      customizeLinks={[{ index: 1, text: "People" }]}
      mainBemClass="breadcrumbs"
    >
      <IoChevronForward slot="separator" />
    </Breadcrumbs>
  </div>
  <div
    class="flex flex-col md:flex-row gap-4 items-center justify-between mb-4"
  >
    <div class="flex flex-col md:flex-row gap-4 items-center justify-start">
      {
        person.photo && (
          <img
            class={`rounded-full mb-0 max-h-48`}
            src={person.photo.url}
            alt={person.photo.title}
            width={132}
            height={132}
          />
        )
      }
      <h1 class="mb-0">{person.name}</h1>
    </div>
    {
      person.isDBSChecked && (
        <Picture
          src={dbsChecked}
          formats={["avif", "webp"]}
          alt="DBS Checked"
          height={64}
        />
      )
    }
  </div>

  {
    person.bio && (
      <section>
        <RichText document={person.bio} page={pathname} />
      </section>
    )
  }

  {
    pageData.length > 0 && (
      <section>
        <h5>Club Roles</h5>
        <ul>
          {pageData.map(([slug, role]) => (
            <li>
              <a
                class="text-sm text-blue-900 underline"
                href={
                  slug.startsWith("page$")
                    ? slug.substring("page$".length)
                    : slug
                }
              >
                {role}
              </a>
            </li>
          ))}
        </ul>
      </section>
    )
  }
</Container>
