---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import ArticlePreview from "@/components/ArticlePreview.astro";
import GamePreview from "@/components/GamePreview.astro";
import EventPreview from "@/components/EventPreview.astro";
import { getDate, compareDesc, compareAsc, isAfter } from "date-fns";
import { match } from "ts-pattern";
import Hero from "@/components/Hero/Hero.astro";
import LDJson from "../components/LDJson.astro";
import { PLAY_CRICKET_1XI_ID, PLAY_CRICKET_2XI_ID } from "astro:env/server";

const news = await getCollection("news");
const top5 = news
  .sort(({ data: g1 }, { data: g2 }) => compareDesc(g1.when, g2.when))
  .slice(0, 6);

const calendarItems = await getCollection("calendarItem");

const teamOrder: Record<string, number> = {
  [PLAY_CRICKET_1XI_ID]: 2,
  [PLAY_CRICKET_2XI_ID]: 1,
};

const next5calendarItems = calendarItems
  .sort(({ data: g1 }, { data: g2 }) => {
    const g1D = getDate(g1.when);
    const g2D = getDate(g2.when);

    if (g1D === g2D) {
      if (g1.type === "game" && g2.type === "game") {
        const t1 = teamOrder[g1.team.id] ?? 0;
        const t2 = teamOrder[g2.team.id] ?? 0;

        return t2 - t1;
      }

      return g1.type === "game" ? 1 : -1;
    }

    return compareAsc(g1.when, g2.when);
  })
  .filter(({ data }) => isAfter(data.when, new Date()))
  .slice(0, 5);
---

<Base
  title="Home"
  description="Percy Main Community Sports Club supports community sports in Percy Main and surrounding areas."
>
  <LDJson
    slot="ldjson"
    content={{
      "@type": "WebSite",
      name: "Percy Main Community Sports Club",
      url: "https://www.percymain.org",
    }}
  />

  <div class="flex flex-col gap-12">
    <Hero />
    <div
      class="flex w-full flex-row flex-wrap items-start justify-center gap-8"
    >
      <section class="flex flex-shrink-0 flex-col items-center">
        <h3 class="text-h4 mt-4">Upcoming Events</h3>
        <ul
          class="flex w-full flex-col flex-wrap items-stretch justify-between gap-4"
        >
          {
            next5calendarItems.map((calendarItem) => (
              <li class="w-full">
                <div class="mb-2 h-full rounded-none bg-white p-4 shadow-md lg:rounded-lg">
                  {match(calendarItem)
                    .with({ data: { type: "event" } }, (event) => (
                      <EventPreview id={event.id} event={event.data} />
                    ))
                    .with({ data: { type: "game" } }, (game) => (
                      <GamePreview id={game.id} game={game.data} />
                    ))
                    .exhaustive()}
                </div>
              </li>
            ))
          }
        </ul>
      </section>
      <section class="flex max-w-160 flex-col items-center">
        <h3 class="text-h4 mt-4">Latest News</h3>
        <ul class="flex flex-col flex-wrap items-stretch justify-between gap-4">
          {
            top5.map((article) => (
              <li>
                <ArticlePreview
                  id={article.id}
                  title={article.data.title}
                  when={article.data.when}
                  summary={article.data.summary}
                  author={article.data.author}
                  pages={article.data.pages}
                />
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </div>
</Base>
