---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import { RichText } from "@/components/RichText";
import { contentClient } from "../lib/contentful/client";
import type { TypeSiteDataSkeleton } from "@/__generated__/TypeSiteData";
import ArticlePreview from "../components/ArticlePreview.astro";
import _ from "lodash";
import { formatDate, getDate, isBefore } from "date-fns";
import { Image } from "astro:assets";
import { SPONSORSHIP_PRICE_ID } from "astro:env/client";

const news = await getCollection("news");
const top5 = news.slice(0, 5);

const games = await getCollection("game");

const teamOrder: Record<string, number> = {
  "1st XI": 2,
  "2nd XI": 1,
};

const next5games = games
  .sort(({ data: g1 }, { data: g2 }) => {
    const g1D = getDate(g1.when);
    const g2D = getDate(g2.when);
    if (g1D === g2D) {
      const t1 = teamOrder[g1.team] ?? 0;
      const t2 = teamOrder[g2.team] ?? 0;

      return t2 - t1;
    }

    return isBefore(g1.when, g2.when) ? -1 : 1;
  })
  .slice(0, 5);

const siteData = await contentClient
  .getEntries<TypeSiteDataSkeleton>({ content_type: "siteData" })
  .then((en) => en.items[0]);
---

<Base title="Home">
  <div class="container flex flex-col lg:flex-row gap-12">
    <div>
      <Image
        class="rounded-lg"
        src="/images/pitch.png"
        width="1009"
        height="313"
        alt="The cricket pitch at Percy Main"
      />
      <p class="text-lg mt-4">
        {siteData.fields.mIssion}
      </p>
      <div>
        <h4 class="mt-4">Latest News</h4>
        <ul class="flex flex-row gap-4 items-stretch flex-wrap">
          {
            top5.map((article) => (
              <li class="w-[20rem]">
                <ArticlePreview
                  id={article.id}
                  title={article.data.title}
                  when={article.data.when}
                  summary={article.data.summary}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="max-w-sm md:min-w-96">
      <h4>Upcoming Games</h4>
      <ul>
        {
          next5games.map((game) => (
            <li>
              <div class="bg-white rounded-lg shadow-md border p-4 pb-2 mb-4">
                <div class=" flex flex-row items-center justify-stretch gap-4">
                  <Image
                    src="/images/cricket.png"
                    alt="Cricket Match"
                    width="24"
                    height="24"
                  />
                  <div class="w-full">
                    <h5 class="text-lg font-semibold">
                      {formatDate(game.data.when, "dd/MM/yyyy")}
                    </h5>
                    <p>
                      {game.data.team} versus {game.data.opposition}{" "}
                      {game.data.home ? "(H)" : "(A)"}
                    </p>
                    <p>{game.data.league}</p>
                  </div>
                </div>
                {game.data.hasSponsor ? (
                  <p class="justify-self-center py-2 px-4 mt-2 bg-green-500 text-dark rounded text-sm">
                    Sponsor: {game.data.sponsor?.name ?? "Pending"}
                  </p>
                ) : (
                  <div class="justify-self-center mt-2 py-2 px-4  bg-blue-500 hover:bg-blue-700 text-white rounded text-sm">
                    <a
                      href={`/purchase/${SPONSORSHIP_PRICE_ID}?metadata=${JSON.stringify({ gameId: game.id })}`}
                    >
                      Sponsor This Game
                    </a>
                  </div>
                )}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Base>
