---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import ArticlePreview from "@/components/ArticlePreview.astro";
import GamePreview from "@/components/GamePreview.astro";
import EventPreview from "@/components/EventPreview.astro";
import _ from "lodash";
import { getDate, compareDesc, compareAsc } from "date-fns";
import { Image } from "astro:assets";
import { prices } from "@/lib/payments/prices";
import { match } from "ts-pattern";

const news = await getCollection("news");
const top5 = news
  .sort(({ data: g1 }, { data: g2 }) => compareDesc(g1.when, g2.when))
  .slice(0, 6);

const calendarItems = await getCollection("calendarItem");

const teamOrder: Record<string, number> = {
  "1st XI": 2,
  "2nd XI": 1,
};

const next5calendarItems = calendarItems
  .sort(({ data: g1 }, { data: g2 }) => {
    const g1D = getDate(g1.when);
    const g2D = getDate(g2.when);

    if (g1D === g2D) {
      if (g1.type === "game" && g2.type === "game") {
        const t1 = teamOrder[g1.team] ?? 0;
        const t2 = teamOrder[g2.team] ?? 0;

        return t2 - t1;
      }

      return g1.type === "game" ? 1 : -1;
    }

    return compareAsc(g1.when, g2.when);
  })
  .slice(0, 5);
---

<Base title="Home">
  <div class="container flex flex-col lg:flex-row gap-12">
    <div>
      <section class="bg-white dark:bg-gray-900">
        <Image
          class="rounded-lg rounded-b-none"
          src="/images/pitch.png"
          width="1009"
          height="313"
          alt="The cricket pitch at Percy Main"
          priority
          loading="eager"
        />
        <div class="py-2 px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
          <div class="mx-auto max-w-screen-sm text-center">
            <h2
              class="mb-4 text-2xl font-primary tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white"
            >
              Join The Main
            </h2>
            <p
              class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg text-balance"
            >
              Players - use code <span class="font-bold">UTM2025</span> for £30 off
              annual membership, if you join before 29th April 2025
            </p>
            <a
              href="/membership/join"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
              >Join Now</a
            >
          </div>
        </div>
      </section>
      <div class="flex flex-col items-center">
        <h4 class="mt-4">Latest News</h4>
        <ul class="flex flex-row gap-4 items-stretch justify-between flex-wrap">
          {
            top5.map((article) => (
              <li class="md:max-w-[20rem]">
                <ArticlePreview
                  id={article.id}
                  title={article.data.title}
                  when={article.data.when}
                  summary={article.data.summary}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="max-w-sm md:min-w-96">
      <h4>Upcoming Events</h4>
      <ul>
        {
          next5calendarItems.map((calendarItem) => (
            <li>
              {match(calendarItem)
                .with({ data: { type: "event" } }, (event) => (
                  <EventPreview id={event.id} event={event.data} />
                ))
                .with({ data: { type: "game" } }, (game) => (
                  <GamePreview
                    id={game.id}
                    game={game.data}
                    sponsorshipPriceId={prices.sponsorship.priceId}
                  />
                ))
                .exhaustive()}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Base>
