---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import { contentClient } from "../lib/contentful/client";
import type { TypeSiteDataSkeleton } from "@/__generated__/TypeSiteData";
import ArticlePreview from "../components/ArticlePreview.astro";
import _ from "lodash";
import { formatDate, getDate, compareAsc, compareDesc } from "date-fns";
import { Image } from "astro:assets";
import stripeData from "~/stripe.json";

const news = await getCollection("news");
const top5 = news
  .sort(({ data: g1 }, { data: g2 }) => compareDesc(g1.when, g2.when))
  .slice(0, 6);

const games = await getCollection("game");

const teamOrder: Record<string, number> = {
  "1st XI": 2,
  "2nd XI": 1,
};

const next5games = games
  .sort(({ data: g1 }, { data: g2 }) => {
    const g1D = getDate(g1.when);
    const g2D = getDate(g2.when);
    if (g1D === g2D) {
      const t1 = teamOrder[g1.team] ?? 0;
      const t2 = teamOrder[g2.team] ?? 0;

      return t2 - t1;
    }

    return compareDesc(g1.when, g2.when);
  })
  .slice(0, 5);

const siteData = await contentClient
  .getEntries<TypeSiteDataSkeleton>({ content_type: "siteData" })
  .then((en) => en.items[0]);
---

<Base title="Home">
  <div class="container flex flex-col lg:flex-row gap-12">
    <div>
      <section class="bg-white dark:bg-gray-900">
        <Image
          class="rounded-lg rounded-b-none"
          src="/images/pitch.png"
          width="1009"
          height="313"
          alt="The cricket pitch at Percy Main"
        />
        <div class="py-2 px-4 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
          <div class="mx-auto max-w-screen-sm text-center">
            <h2
              class="mb-4 text-2xl font-primary tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white"
            >
              Join The Main
            </h2>
            <p
              class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg"
            >
              Get registered for the 2025 season
            </p>
            <a
              href="/membership/join"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
              >Join Now</a
            >
          </div>
        </div>
      </section>
      <div>
        <h4 class="mt-4">Latest News</h4>
        <ul class="flex flex-row gap-4 items-stretch flex-wrap">
          {
            top5.map((article) => (
              <li class="w-[20rem]">
                <ArticlePreview
                  id={article.id}
                  title={article.data.title}
                  when={article.data.when}
                  summary={article.data.summary}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="max-w-sm md:min-w-96">
      <h4>Upcoming Games</h4>
      <ul>
        {
          next5games.map((game) => (
            <li>
              <div class="bg-white rounded-lg shadow-md border p-4 pb-2 mb-4">
                <div class=" flex flex-row items-center justify-stretch gap-4">
                  <Image
                    src="/images/cricket.png"
                    alt="Cricket Match"
                    width="24"
                    height="24"
                  />
                  <div class="w-full">
                    <h5 class="text-lg font-semibold">
                      {formatDate(game.data.when, "dd/MM/yyyy")}
                    </h5>
                    <p>
                      {game.data.team} versus {game.data.opposition}{" "}
                      {game.data.home ? "(H)" : "(A)"}
                    </p>
                    <p>{game.data.league}</p>
                  </div>
                </div>
                {game.data.hasSponsor ? (
                  <p class="justify-self-center py-2 px-4 mt-2 bg-green-500 text-dark rounded text-sm">
                    Sponsor: {game.data.sponsor?.name ?? "Pending"}
                  </p>
                ) : (
                  <div class="justify-self-center mt-2 py-2 px-4  bg-blue-500 hover:bg-blue-700 text-white rounded text-sm">
                    <a
                      href={`/purchase/${stripeData.prices.sponsorship.priceId}?metadata=${JSON.stringify({ gameId: game.id })}`}
                    >
                      Sponsor This Game
                    </a>
                  </div>
                )}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Base>
