---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import { RichText } from "@/components/RichText";
import { client } from "../lib/contentful/client";
import type { TypeSiteDataSkeleton } from "@/__generated__/TypeSiteData";
import ArticlePreview from "../components/ArticlePreview.astro";

const news = await getCollection("news");
const top5 = news.slice(0, 5);

const siteData = await client
  .getEntries<TypeSiteDataSkeleton>({ content_type: "siteData" })
  .then((en) => en.items[0]);
---

<Base title="Home">
  <div class="container flex flex-col lg:flex-row gap-12">
    <p class="text-lg">
      {siteData.fields.mIssion}
    </p>
    <div class="max-w-sm md:min-w-96">
      <h4>Latest News</h4>
      <ul>
        {
          top5.map((article) => (
            <li>
              <ArticlePreview
                id={article.id}
                title={article.data.title}
                when={article.data.when}
                summary={article.data.summary}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Base>
