---
import type { GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";
import _ from "lodash";
import { format } from "date-fns";
import NewsPage from "@/components/news/NewsPage.astro";
import Container from "@/layouts/Container.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import { IoChevronForward } from "react-icons/io5";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const news = await getCollection("news");

  const tags = _.uniqBy(
    news.flatMap((n) => n.data.pages),
    (p) => p.id,
  ).map((tag) => ({
    ...tag,
    slug: tag.slug.replaceAll("/", "_"),
  }));

  const tagPages = _.groupBy(
    news.flatMap((n) =>
      n.data.pages.map((p) => ({
        ...n,
        tag: p.slug.replaceAll("/", "_"),
      })),
    ),
    (p) => p.tag,
  );

  const uniqueAuthors = _.uniqBy(
    news.map((n) => n.data.author).filter(Boolean),
    (a) => a.id,
  );

  const archiveMonths = _.chain(news)
    .groupBy((n) => format(n.data.when, "MMMM yyyy"))
    .map((articles, month) => ({ month, count: articles.length }))
    .sortBy((m) => {
      const first = news.find(
        (n) => format(n.data.when, "MMMM yyyy") === m.month,
      );
      return first ? -first.data.when.getTime() : 0;
    })
    .value();

  return paginate(news, {
    pageSize: 5,
    props: {
      tags: tags.map((tag) => ({
        ...tag,
        slug: tag.slug.replaceAll("/", "_"),
        count: tagPages[tag.slug]?.length ?? 0,
        isActive: false,
      })),
      totalArticleCount: news.length,
      uniqueAuthorCount: uniqueAuthors.length,
      archiveMonths,
    },
  });
}

const { page, tags, totalArticleCount, uniqueAuthorCount, archiveMonths } =
  Astro.props;

const articles = page.data.map((article) => ({
  id: article.id,
  ...article.data,
}));

const articlesByMonth = _.chain(articles)
  .groupBy((a) => format(a.when, "MMMM yyyy"))
  .map((arts, month) => ({ month, articles: arts }))
  .sortBy((g) => -g.articles[0].when.getTime())
  .value();
---

<Container title="News">
  <div
    class="text-h4 mb-4 [&_ol]:flex [&_ol]:items-center [&_ol]:gap-2 [&_ol>li]:flex [&_ol>li]:items-center [&_ol>li]:gap-2"
    slot="breadcrumbs"
  >
    <Breadcrumbs
      linkTextFormat="capitalized"
      crumbs={[
        {
          text: "News",
          href: "#",
        },
      ]}
    >
      <IoChevronForward slot="separator" />
    </Breadcrumbs>
  </div>

  <NewsPage
    articles={articles}
    page={page}
    tags={tags}
    activeTag={null}
    totalArticleCount={totalArticleCount}
    uniqueAuthorCount={uniqueAuthorCount}
    articlesByMonth={articlesByMonth}
    archiveMonths={archiveMonths}
    baseUrl="/news/"
  />
</Container>
