---
import { formatDate } from "date-fns";
import { RichText } from "@/components/RichText";
import Sponsor from "@/components/Sponsor.astro";
import { Map } from "@/components/Map";
import { When } from "./When";
import { AddToCalendarButton } from "add-to-calendar-button-react";
import { match } from "ts-pattern";
import type { CalendarItem } from "../collections/calendarItem";

type Props = {
  id: string;
  title: string;
  calendarItem: CalendarItem;
};

const { id, title, calendarItem } = Astro.props;
---

<div class="flex flex-col items-start gap-4">
  <div
    class="flex w-full flex-row flex-wrap items-center justify-between gap-2 md:gap-4"
  >
    {
      match(calendarItem)
        .with({ type: "game" }, (game) => <Sponsor id={id} game={game} />)
        .with({ type: "event" }, (event) => (
          <RichText
            page={`calendar/event/${id}`}
            document={event.description}
          />
        ))
        .exhaustive()
    }
    <div class="flex flex-row flex-wrap items-center gap-2 md:gap-4">
      <AddToCalendarButton
        client:only="react"
        hideBranding
        name={title}
        options={[
          "Apple",
          "Google",
          "iCal",
          "Microsoft365",
          "MicrosoftTeams",
          "Outlook.com",
          "Yahoo",
        ]}
        location={calendarItem.location?.name}
        startDate={formatDate(calendarItem.when, "yyyy-MM-dd")}
        endDate={calendarItem.finish &&
          formatDate(calendarItem.finish, "yyyy-MM-dd")}
        startTime={formatDate(calendarItem.when, "HH:mm")}
        endTime={calendarItem.finish &&
          formatDate(calendarItem.finish, "HH:mm")}
        timeZone="GMT"
        hideRichData
      />
      <When start={calendarItem.when} end={calendarItem.finish} />
    </div>
  </div>

  {
    match(calendarItem)
      .with({ type: "game" }, (game) => (
        <div class="flex flex-col gap-2">
          <h4 class="text-h6 md:text-h4">Match Details</h4>
          <ul class="flex flex-col gap-2">
            <li>
              <strong>Team:</strong> {game.team.name}
            </li>
            <li>
              <strong>Opposition:</strong> {game.opposition.club.name}{" "}
              {game.opposition.team.name}
            </li>
            <li>
              <strong>Competition:</strong> {game.competition.name}
            </li>
          </ul>
          <RichText page={`calendar/event/${id}`} document={game.description} />
        </div>
      ))
      .with({ type: "event" }, () => null)
      .exhaustive()
  }
  {
    calendarItem.location?.coordinates && (
      <Map
        client:only="react"
        center={calendarItem.location.coordinates}
        infoWindow={{ header: calendarItem.location.name }}
      >
        <div class="flex flex-col gap-2 bg-white p-4 text-lg sm:text-sm">
          <h4 class="text-h6 md:text-h5">{calendarItem.location.name}</h4>
          <p>{calendarItem.location.street}</p>
          <p>{calendarItem.location.city}</p>
          <p>{calendarItem.location.county}</p>
          <p>{calendarItem.location.country}</p>
          <p>{calendarItem.location.postcode}</p>
        </div>
      </Map>
    )
  }
</div>
