---
import { Image } from "astro:assets";
import type { Game } from "@/collections/game";
import { formatDate } from "date-fns";
import { IoChevronForward } from "react-icons/io5";
import Sponsor from "./Sponsor.astro";

type Props = {
  id: string;
  game: Game;
  sponsorshipPriceId: string;
};

const { id, game, sponsorshipPriceId } = Astro.props;
---

<div class="bg-white rounded-lg shadow-md border p-4 mb-4">
  <div class="flex flex-row items-center justify-stretch gap-4">
    <Image
      src="/images/cricket.png"
      alt="Cricket Match"
      title="Cricket Match"
      width="24"
      height="24"
      loading="eager"
    />
    <div class="w-full">
      <h4 class="text-lg font-semibold">
        {formatDate(game.when, "dd/MM/yyyy")}
      </h4>
      <p>
        {game.team} versus {game.opposition}{" "}
        {game.home ? "(H)" : "(A)"}
      </p>
      <p>{game.league}</p>
    </div>
    <a
      href={`/calendar/event/${id}`}
      class="self-stretch flex flex-col items-center justify-center"
      aria-label="Read more about this game"
    >
      <IoChevronForward
        className="text-gray-700 hover:text-gray-400"
        fontSize={32}
      />
    </a>
  </div>
  <div class="justify-self-center">
    <Sponsor id={id} game={game} />
  </div>
</div>
