---
export const prerender = false;

import { getCollection } from "astro:content";
import Logo from "@/components/Logo.astro";
import priceConfig from "~/stripe.json";
import { MenuItem } from "@/components/MenuItem";
import { AuthNav } from "@/components/auth/Nav";
import { urlMatch } from "@/lib/util/url-match";

const { pathname } = Astro.url;

const pages = await getCollection("page");
const pagesMenu = pages
  .filter((page) => page.data.isMainMenu)
  .sort((a, b) => (a.data.menuOrder ?? 0) - (b.data.menuOrder ?? 0))
  .map((page) => ({
    name: page.data.title,
    url: `/${page.data.slug}`,
    match: {
      start: `/${page.data.slug}`,
    },
    style: "menu" as const,
  }));

const menu: MenuItem[] = [
  {
    name: "Home",
    url: "/",
    match: "exact",
    style: "menu",
  },
  {
    name: "News",
    url: "/news/1",
    match: {
      start: "/news",
    },
    style: "menu",
  },
  {
    name: "Calendar",
    url: "/calendar",
    match: {
      start: "/calendar",
    },
    style: "menu",
  },
  ...pagesMenu,
  {
    name: "Donate Now",
    url: `/purchase/${priceConfig.prices.donation}`,
    match: "never",
    style: "cta",
  },
];
---

<header
  class="sticky top-0 z-50 py-6 transition-all duration-300 pl-[calc(100vw-100%)] shadow-[0_-28px_60px_10px_rgba(102,102,102,1)] bg-gradient-to-t from-blue-100 to-creamy"
>
  <nav class="relative flex flex-wrap items-center justify-between container">
    <div class="flex flex-row items-center gap-4">
      <div class="order-0">
        <Logo />
      </div>

      <h1 class="text-h3 hidden lg:block mb-0">
        Percy Main Cricket and Sports Club
      </h1>
    </div>

    <input id="nav-toggle" type="checkbox" class="hidden peer" />
    <label
      for="nav-toggle"
      class="order-2 flex cursor-pointer items-center lg:order-1 lg:hidden peer-checked:hidden"
    >
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
    </label>
    <label
      for="nav-toggle"
      class="order-2 hidden cursor-pointer items-center lg:order-1 peer-checked:flex peer-checked:lg:hidden"
    >
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>

    <ul
      class="text-center lg:text-left order-3 hidden w-full lg:order-1 lg:flex lg:w-auto lg:space-x-2 peer-checked:block peer-checked:lg:flex"
    >
      {
        menu.map((item) => (
          <li>
            <MenuItem item={item} isActive={urlMatch(pathname, item)} />
          </li>
        ))
      }
      <li>
        <AuthNav client:load pathname={pathname} />
      </li>
    </ul>
  </nav>
</header>
