---
import "./Base.css";
import { AstroFont } from "astro-font";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { BASE_URL } from "astro:env/client";

export type Props = {
  title?: string;
  author?: string;
  description?: string;
  image?: string;
  canonical?: string;
};

const { title, description, image, author } = Astro.props;
---

<!doctype html>
<html lang="en" class="min-w-full">
  <head>
    <slot name="ldjson" />
    <link
      rel="icon"
      type="image/png"
      href="/images/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="Percy Main Community Sports Club"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          name: "Poppins",
          fallback: "sans-serif",
          cssVariable: "font-primary",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap",
        },
        {
          src: [],
          preload: false,
          display: "swap",
          name: "Commissioner",
          fallback: "sans-serif",
          cssVariable: "font-secondary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=Commissioner&display=swap`,
        },
      ]}
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      property="og:image"
      content={image ?? `${BASE_URL}/images/club_logo.png`}
    />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:card" content="summary_large_image" />

    <title>{title} :: Percy Main Community Sports Club</title>
  </head>
  <body
    class="bg-creamy font-primary text-text min-h-svh min-w-full bg-[url('/images/body-bg.svg')] bg-repeat leading-relaxed font-normal"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script is:inline async src="//static.getclicky.com/101476467.js"></script>
<noscript
  ><p>
    <img
      alt="Clicky"
      width="1"
      height="1"
      src="//in.getclicky.com/101476467ns.gif"
    />
  </p>
</noscript>
