---
import Base from "./Base.astro";

type MenuLink = {
  title: string;
  link: string;
};

type Props = {
  title: string;
  slug: string;
  menu?: { title: string; items: Array<MenuLink & { children: MenuLink[] }> };
};

const { title, menu, slug } = Astro.props;
const { pathname } = Astro.url;
---

<Base title={title}>
  <div class="flex flex-col md:flex-row">
    {
      menu && (
        <>
          <aside class="w-full sm:w-60 dark:bg-gray-50 dark:text-gray-800">
            <nav class="space-y-8 text-sm">
              <div class="space-y-2">
                <h3 class="dark:text-gray-600">
                  <a href={`/${slug}`}>{menu.title}</a>
                </h3>
                <div class="flex flex-col space-y-1">
                  {menu.items.map(({ title, link, children }) => (
                    <>
                      <a
                        href={link}
                        class:list={[
                          pathname.startsWith(link) ? "text-orange-900" : "",
                        ]}
                      >
                        {title}
                      </a>

                      <div class="flex flex-col ml-2">
                        {children.map(({ title, link }) => (
                          <>
                            <a
                              href={link}
                              class:list={[
                                pathname.startsWith(link)
                                  ? "text-orange-900"
                                  : "",
                              ]}
                            >
                              {title}
                            </a>
                          </>
                        ))}
                      </div>
                    </>
                  ))}
                </div>
              </div>
            </nav>
          </aside>
          <hr class="md:hidden pt-4 pb-4" />
        </>
      )
    }
    <div class="flex flex-col grow">
      <slot />
    </div>
  </div>
</Base>
